.card-grid {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.row-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.col-grid {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 1500px;
}

.card {
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
}

.row-grid div.card {
    max-width: 500px;
}