body {
  font-family: helvetica, arial, san-serif;
  max-width: 400px;
  margin: 0 auto;
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.cart__summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px; }
  .cart__summary h2 {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #6C757D;
    justify-content: left;
    align-items: center; }
  .cart__summary .cart__items {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    font-size: larger;
    background-color: #6C757D;
    color: white;
    max-width: 10px; }

.item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px; }
  .item__container .item__section {
    border-radius: 4px;
    border: 1px solid #E0E0E0; }
    .item__container .item__section .item {
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-bottom: 1px solid #E0E0E0;
      background-color: white;
      padding: 10px 20px; }
      .item__container .item__section .item P {
        margin: 0;
        display: flex; }
      .item__container .item__section .item .item__name {
        font-weight: bold; }
      .item__container .item__section .item .item__description {
        font-size: smaller;
        color: #808080;
        grid-row: 2/3; }
      .item__container .item__section .item .item__price {
        font-weight: bold;
        color: #808080;
        grid-column: 2/3;
        justify-content: right; }
    .item__container .item__section .promo {
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding: 10px 20px;
      font-weight: bold;
      color: green;
      background-color: #F8F9FA; }
      .item__container .item__section .promo p {
        margin: 0;
        display: flex; }
      .item__container .item__section .promo .promo__description {
        grid-row: 2/3;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: smaller; }
      .item__container .item__section .promo .discount {
        justify-content: right;
        grid-column: 2/3; }
    .item__container .item__section .total {
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-top: 1px solid #E0E0E0;
      background-color: white;
      padding: 10px 20px;
      font-weight: bold; }
      .item__container .item__section .total p {
        margin: 0;
        display: flex; }
      .item__container .item__section .total .total__price {
        grid-column: 2/3;
        justify-content: right; }
  .item__container .promo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-top: 30px; }
    .item__container .promo__container #promo-code[type="text"] {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #E0E0E0;
      border-radius: 5px 0 0 5px; }
    .item__container .promo__container .btn__redeem {
      padding: 10px 20px;
      background-color: #6C757D;
      border: none;
      border-radius: 0 5px 5px 0;
      color: white;
      transition: background-color 0.3s; }
      .item__container .promo__container .btn__redeem:hover {
        background-color: #545b62; }

/*# sourceMappingURL=style.css.map */
